@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li::before {
    content: '- ';
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    height: 100vh;
    flex-direction: column;
}

#start-screen {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* #start-screen, #game-container {
    text-align: center;
} */

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.hidden {
    display: none;
}

#game-container {
    position: relative;
    max-width: 90vw; /* Responsive width */
    max-height: 90vh; /* Responsive height */
    margin: 32px;
}

#tetris {
    outline: 1px solid black;
    border-radius: 4px;
    width: 100%;
    height: auto;
}

#controls {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 4px;
}
#controls button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    flex-grow: 1;
    flex-shrink: 0;
}

.left, .right, .down, .rotate {
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 12px;
}

#start-button {
    background-color: blue;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    width: fit-content;
    font-size: 12px;
}

#restart-button {
    background-color: blue;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    width: fit-content;
    font-size: 14px;
    width: 100%;
}


#game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 4px;
}

@media (max-width: 600px) {
    button {
        padding: 8px 16px;
        font-size: 14px;
    }
}
